
body{
	background: linear-gradient(to botton, #ECFFFF, #005757);
	
	
}
header{
	text-align:center;
	height:300px;
	font-size:30pt;
}
.box{	
	text-align:center;
	margin:auto;
	
	width:30%;
	
	font-size:50pt;
	color:#C6D7DB;
	border-radius: 3px;
	background-color:#3B818C;
}
.key{
	margin:auto;
	background-color:#C6E6E8;
	color:#41888A;
	border:#C6E6E8;
	border-radius:3px;
	font-size:40pt;
}
